---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import BaseLayout from '@/components/BaseLayout'
import Heading from '@/components/Heading'
import Content from '@/components/Content'
import ArticleSnippet from '@/components/ArticleSnippet'
import Pagination from '@/components/Pagination'
import Sidebar from '@/components/Sidebar'
import Tags from '@/components/Tags'
import Categories from '@/components/Categories'

// data
import Settings from '@/data/settings'

export async function getStaticPaths({ paginate }) {
    const allPosts = Astro.fetchContent('../../*.md');
    const allCategories = new Set();
    
    allPosts.map(post => {
        allCategories.add(post.category.toLowerCase());
    });
    
    return Array.from(allCategories).map((category) => {
        const filteredPosts = allPosts.filter((post) => post.category.includes(category));
        const sortedPosts = filteredPosts.sort((a, b) => new Date(b.date) - new Date(a.date));
        
        return paginate(sortedPosts, {
            params: { category },
            pageSize: Settings.pageSize
        });
    });
}

const allPosts = await Astro.fetchContent("../../*.md");
const categories = [...new Set(allPosts.map(post => post.category))];
const tags = [...new Set([].concat.apply([], allPosts.map(post => post.tags)))];

const { page } = Astro.props
const { params } = Astro.request
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Articles - Digital Marketing, Jamstack Programming and Car Photography"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Heading>
            <h1>Articles Categorized by "<span style="text-transform: capitalize">{params.category}</span>"</h1>
        </Heading>
        
        <Content>
            <section class="posts">
                {page.data.map(p =>
                    <ArticleSnippet post={p} />
                )}
            </section>

            <Pagination page={page} />
        </Content>

        <Sidebar>
            <div>
                <h4>Categories</h4> 
                <Categories categories={categories} base="articles" />

                <h4>Tags</h4>
                <Tags tags={tags} base="articles" />
            </div>
        </Sidebar>
    </BaseLayout>
</body>
</html>