---
// components
import Image from '../image/Image.astro'

// modules
import Moment from 'moment';

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;

const date = Moment(shoot.date).fromNow(); // format the date so it's easy to read*/
---

<a href={shoot.url} class="shoot">
    <div class="cover">
        <Image file={shoot.hero} classes="solid-shadow-green" />
    </div>

    <div class="content">
        <h3 class="h4">{shoot.title}</h3>
        
        <div class="meta">
            <time>{date}</time>
            <div class="category">{shoot.category}</div>
        </div>

        <p>{shoot.description}</p>
    </div>
</a>

<style lang="scss">
    @use '../../assets/styles/breakpoints' as *;

    .shoot {
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);

        @include breakpoint(md) {
            flex-direction: row;
        }

        .cover {
            flex-basis: max-content;

            :global(img) {
                border-radius: .4rem;
                object-fit: cover;
                height: 200px;
                width: auto;
            }

            @include breakpoint(md) {
                width: 100%;
                
                img { 
                    object-fit: cover;
                    height: 100%;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: var(--space-sm);
            
            h3 { margin: 0; }
            p {
                margin: 0;
                font-size: var(--text-md);
            }

            .meta {
                display: flex;
                flex-direction: row;
                gap: var(--space-xs);
                color: var(--color-grayscale-60);

                @include breakpoint(lg) {
                    flex-direction: row;
                    gap: var(--space-md);
                }

                .category {
                    text-transform: capitalize;
                }
            }
        }
    }
</style>