---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Content from "@/components/Content"
import PostSnippet from "@/components/PostSnippet"
import Pagination from "@/components/Pagination"
import Tags from "@/components/Tags"
import Categories from "@/components/Categories"

// config
import { pageSize } from "@/src/config.ts"

export async function getStaticPaths({ paginate }) {
    const allPosts = Astro.fetchContent("../../*.md");
    const allTags = new Set();
    
    allPosts.map(p => {
        p.tags && p.tags.map(tag => allTags.add(tag.toLowerCase()))
    });
    
    return Array.from(allTags).map((tag) => {
        const filteredPosts = allPosts.filter((p) => p.tags.includes(tag))
                                      .sort((a, b) => new Date(b.date) - new Date(a.date));
        
        return paginate(filteredPosts, {
            params: { tag },
            pageSize: pageSize
        });
    });
}

const allPosts = await Astro.fetchContent("../../*.md");
const categories = [...new Set(allPosts.map(p => p.category))];
const tags = [...new Set([].concat.apply([], allPosts.map(p => p.tags)))];

const { page } = Astro.props
const { params } = Astro.request
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Heading>
            <h1>Posts Tagged with "<span style="text-transform: capitalize">{params.tag}</span>"</h1>
        </Heading>
        
        <Content>
            <section class="posts">
                {page.data.map(p =>
                    <PostSnippet post={p} />
                )}
            </section>

            <Pagination page={page} />
        </Content>

        <div>
            <h4>Categories</h4>
            <Categories categories={categories} base="blog" />

            <h4>Tags</h4>
            <Tags tags={tags} base="blog" />
        </div>
    </BaseLayout>
</body>
</html>