---
// functions
import { timeAgo } from '@/functions/DateTime'

// props
export interface Props {
    post: object
}
const { post } = Astro.props;
---

<div class="post">
    <a href={post.url} title={post.title}>
        <h2 class="h4">{post.title}</h2>
    </a>
    
    <div class="meta">
        <time>{timeAgo(post.date)}</time>
        <a href=`/blog/categories/${post.category}` title={post.title} class="category">{post.category}</a>
    </div>

    <p>{post.description}</p>
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .post {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);

        h2 { margin: 0; }
        p {
            margin: 0;
            font-size: var(--text-md);
            font-weight: 350;
        }
        
        .meta {
            display: flex;
            flex-direction: row;
            gap: var(--space-xs);
            color: var(--color-grayscale-60);
            font-weight: 300;

            @include breakpoint(lg) {
                flex-direction: row;
                gap: var(--space-md);
            }

            .category {
                text-transform: capitalize;
            }
        }
    }
</style>