---
// components
import Image from "@/components/image/Image"

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<style>
    .content {
        @apply
            p-3
            pt-6
            space-y-4
            sm:absolute
            sm:bottom-0
            sm:left-0
            sm:w-3/4
            sm:bg-gradient-to-tr
            group-hover:bg-white
            duration-700
            sm:from-white
            sm:via-white
            sm:rounded-tr-3xl
            border-t-4
            border-amber-300
    }
</style>

<div class="sm:space-y-2 relative group overflow-hidden rounded">
    <div>
        <a href={shoot.url} title={shoot.title}>
            <Image classes="shadow-none sm:shadow-2xl rounded-none sm:rounded sm:opacity-80 sm:group-hover:opacity-100 sm:duration-700" file={shoot.hero} />
        </a>
    </div>

    <div class="content group-hover:origin-bottom-left">
        <div class="space-y-2">
            <a href={shoot.url} title={shoot.title}>
                <h3 class="h4">{shoot.title}</h3>
            </a>
            
            <div class="flex gap-2 text-stone-600 font-light">
                <time>{timeAgo(shoot.date)}</time>
                in {shoot.category}
            </div>
        </div>

        <p>{shoot.description}</p>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-white absolute bottom-5 right-5 w-8 h-8 duration-500 opacity-0 group-hover:opacity-100" viewBox="0 0 16 16">
        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
    </svg>
</div>