---
// components
import Image from "@/components/image/Image"

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<div class="space-y-4">
    <div>
        <a href={shoot.url} title={shoot.title}>\
            <Image classes="rounded shadow-2xl" file={shoot.hero} />
        </a>
    </div>

    <div class="content">
        <a href={shoot.url} title={shoot.title}>
            <h2 class="h4">{shoot.title}</h2>
        </a>
        
        <div class="meta">
            <time>{timeAgo(shoot.date)}</time>
            <a class="category" href={`/photography/categories/${shoot.category}`} title={shoot.category}>{shoot.category}</a>
        </div>

        <p>{shoot.description}</p>
    </div>
</div>