---
// components
import Image from "@/components/image/Image"

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<div class="group lg:grid grid-flow-col items-center gap-x-6">
    <a class="lg:w-64 xl:w-96" href={shoot.url} title={shoot.title}>
        <Image classes="h-60 w-full object-cover" file={shoot.hero} />
    </a>

    <div class="lg:p-6 py-8">
        <div class="space-y-2">
            <a href={shoot.url} title={shoot.title}>
                <h3 class="h4">{shoot.title}</h3>
            </a>
            
            <div class="flex gap-2 text-stone-600 font-light">
                <time>{timeAgo(shoot.date)}</time>
                in {shoot.category}
            </div>

            <p>{shoot.description}</p>
        </div>
    </div>
</div>