---
// components
import Image from "@/components/image/Image"

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<div class="group lg:grid grid-flow-col items-center gap-x-6">
    <a class="lg:w-64 xl:w-96" href={shoot.url} title={shoot.frontmatter.title}>
        <Image classes="h-60 w-full object-cover" file={shoot.frontmatter.hero} />
    </a>

    <div class="lg:p-6 py-8">
        <div class="space-y-4">
            <div>
                <a class="thick-underline" href={shoot.url} title={shoot.frontmatter.title}>
                    <h2>{shoot.frontmatter.title}</h2>
                </a>
                
                <div class="flex gap-2 text-stone-600 font-light">
                    <time>{timeAgo(shoot.frontmatter.date)}</time>
                </div>
            </div>

            <p class="font-light">{shoot.frontmatter.description}</p>
            <p><a href={shoot.url} class="thin-underline">Keep Reading &rarr;</a></p>
        </div>
    </div>
</div>