---
// components
import Image from '@/components/image/Image'

// functions
import { timeAgo } from '@/functions/DateTime'

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<div class="shoot">
    <div class="cover solid-shadow-yellow zoom">
        <a href={shoot.url} title={shoot.title}>
            <Image file={shoot.hero} />
        </a>
    </div>

    <div class="content">
        <a href={shoot.url} title={shoot.title}>
            <h2 class="h4">{shoot.title}</h2>
        </a>
        
        <div class="meta">
            <time>{timeAgo(shoot.date)}</time>
            <a class="category" href=`/photography/categories/${shoot.category}` title=`${shoot.category}`>{shoot.category}</a>
        </div>

        <p>{shoot.description}</p>
    </div>
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .shoot {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: var(--space-lg);

        .cover {
            grid-column: 1 / span 3;

            @include breakpoint (md) {
                grid-column: 1;
            }

            :global(img) {
                object-fit: cover;
                height: 150px;
                width: 100%;

                @include breakpoint(md) {
                    width: 100%;
                    height: 175px;
                }
            }
            :hover {
                :global(img) {
                    transform: scale(1.1);
                }
            }
        }

        .content {
            grid-column: 1 / span 3;
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: var(--space-sm);
            
            @include breakpoint(md) {
                grid-column: 2 / span 2;
                
            }

            h2 { margin: 0; }
            p {
                margin: 0;
                font-size: var(--text-md);
                font-weight: 350;
            }

            .meta {
                display: flex;
                flex-direction: row;
                gap: var(--space-xs);
                color: var(--color-grayscale-60);
                font-weight: 300;

                @include breakpoint(lg) {
                    flex-direction: row;
                    gap: var(--space-md);
                }

                .category {
                    text-transform: capitalize;
                }
            }
        }
    }
</style>