---
// components
import Image from "@/components/image/Image"

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<div class="shoot">
    <div class="cover zoom">
        <a href={shoot.url} title={shoot.title}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>

            <Image file={shoot.hero} />
        </a>
    </div>

    <div class="content">
        <a href={shoot.url} title={shoot.title}>
            <h2 class="h4">{shoot.title}</h2>
        </a>
        
        <div class="meta">
            <time>{timeAgo(shoot.date)}</time>
            <a class="category" href={`/photography/categories/${shoot.category}`} title={shoot.category}>{shoot.category}</a>
        </div>

        <p>{shoot.description}</p>
    </div>
</div>