---
// components
import Image from "@/components/image/Image"

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<<<<<<< HEAD
<style>
    .content {
        @apply
            p-3
            pt-6
            space-y-4
            sm:absolute
            sm:bottom-0
            sm:left-0
            sm:w-3/4
            sm:bg-gradient-to-tr
            group-hover:bg-white
            duration-700
            sm:from-white
            sm:via-white
            sm:rounded-tr-3xl
            border-t-4
            border-amber-300
    }
</style>
=======
<div class="group lg:grid grid-flow-col items-center gap-x-6">
    <a class="lg:w-64 xl:w-96" href={shoot.url} title={shoot.title}>
        <Image classes="h-60 w-full object-cover" file={shoot.hero} />
    </a>
>>>>>>> 23c2578616203bf223bfbaab94c1069b44696bd0

    <div class="lg:p-6 py-8">
        <div class="space-y-4">
            <div>
                <a class="thick-underline" href={shoot.url} title={shoot.title}>
                    <h2>{shoot.title}</h2>
                </a>
                
                <div class="flex gap-2 text-stone-600 font-light">
                    <time>{timeAgo(shoot.date)}</time>
                    in {shoot.category}
                </div>
            </div>

            <p class="font-light">{shoot.description}</p>
            <p><a href={shoot.url} class="thin-underline">Keep Reading &rarr;</a></p>
        </div>
    </div>
</div>