---
// modules
import { Picture } from "astro-imagetools/components"

// components
import Image from '@/components/image/Image'

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center gap-6">
    <a class="w-full h-48 sm:h-72 lg:h-60" href={shoot.url} title={shoot.frontmatter.title}>
        <Image
            file={shoot.frontmatter.hero}
            sizes="(min-width: 640px) 500px, 100vw"
            classes="object-cover h-full rounded-md shadow-2xl"
        />
    </a>

    <div class="space-y-4">
        <div>
            <a class="thick-underline" href={shoot.url} title={shoot.frontmatter.title}>
                <h2>{shoot.frontmatter.title}</h2>
            </a>
            
            <div class="flex gap-2 text-stone-600 font-light">
                <time>{timeAgo(shoot.frontmatter.date)}</time>
            </div>
        </div>

        <p class="font-light">{shoot.frontmatter.description}</p>
        <p><a href={shoot.url} class="thin-underline">Keep Reading &rarr;</a></p>
    </div>
</div>