---
// modules
import { SEO } from "astro-seo";
import fg from "fast-glob"

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Flex from "@/components/Flex"
import Content from "@/components/Content"
import Container from "@/components/Container"
import Image from "@/components/image/Image"
import Caption from "@/components/image/Caption"

// functions
import { getMetadata, buildPublicPath, buildFileDetailPath } from "@/functions/Media"
import { fullDate } from "@/functions/DateTime"

// config
import { siteConfig, imageConfig } from "@/src/config.ts"

export async function getStaticPaths() {
    const files = fg.sync("./public/images/shoots/**/*.jpg"); // glob to get all the photo shoots
    const removePath = "./public/images/" // we need to remove the string from the file path above
    const removeChar = removePath.length;  // how many characters to trim off the file path

    const final = files.map(f => {
        const fullPath = buildFileDetailPath(f);

        return fullPath.slice(removeChar);
    })

    return final.map(f => ({ params: { file: f } }))
}

const { params } = Astro.request;

// add the filename back to the file param
// this is the local file
const url = params.file + ".jpg"

// the url of the image to create the download links
const ucr = buildPublicPath(params.file) + ".jpg";

// get the metadata for the file
const metadata = await getMetadata(url);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={`${metadata.title} Photo - Erik S. Olsen`}
        description={`${metadata.caption}`}
    />

    <style lang="scss">
        @use "../../../assets/styles/breakpoints" as *;

        :global(img) {
            box-shadow: var(--site-shadow);
        }

        .flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--space-lg);
            margin-top: var(--space-xl);

            @include breakpoint(lg) {
                flex-direction: row;
            }
        }

        .metadata {
            display: flex;
            flex-direction: column;
            gap: var(--space-lg);

            @include breakpoint(lg) {
                flex-direction: row;
            }

            table {
                border-collapse: collapse;

                tr {
                    border: 1px solid var(--color-grayscale-10);
                }
                td:first-child {
                    border-right: 1px solid var(--color-grayscale-10);
                }
                td {
                    font-size: var(--text-md);
                    font-weight: 300;
                    padding: var(--space-md);
                }
            }
        }
    </style>
</head>

<body>
    <BaseLayout>        
        <Content fullWidth={true}>
            <Container>
                <Heading>
                    <h1 slot="heading">{metadata.title}</h1>
                    <p>{metadata.caption}</p>
                </Heading>
            </Container>

            <Container width="lg">
                <Image
                    file={url}
                />
            </Container>

            <Container>
                <div>
                    <div class="flex">
                        <div class="metadata">
                            <div>
                                <h4>Camera Metadata</h4>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Date</td>
                                            <td>
                                                <date>{fullDate(metadata.date)}</date>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Author</td>
                                            <td>{metadata.author}</td>
                                        </tr>
                                        <tr>
                                            <td>Camera</td>
                                            <td>{metadata.cameraMake} {metadata.cameraModel}</td>
                                        </tr>
                                        <tr>
                                            <td>Lens</td>
                                            <td>{metadata.lens}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <h4>Photo Metadata</h4>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Aperture</td>
                                            <td>f/{metadata.aperture}</td>
                                        </tr>
                                        <tr>
                                            <td>ISO</td>
                                            <td>{metadata.iso}</td>
                                        </tr>
                                        <tr>
                                            <td>Focal Length</td>
                                            <td>{metadata.focalLength}mm</td>
                                        </tr>
                                        <tr>
                                            <td>Shutter Speed</td>
                                            <td>{metadata.shutterSpeed}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="actions">
                            <h4>Download</h4>
                            <p><a href={`${imageConfig.ucEndpoint}/-/overlay/${imageConfig.logo}/10%25x10%25/50%25,98%25/${siteConfig.url}${ucr}`} title="Download the full size image">Full Size</a>({metadata.width} x {metadata.height})</p>
                        </div>
                    </div>
                </div>
            </Container>
        </Content>
    </BaseLayout>
</body>
</html>