---
// modules
import sizeOf from "image-size";

// data
import settings from "@/data/settings"

// props
export interface Props {
    file: string;
    rowHeight?: number;
    watermark?: boolean;
}
const { file, rowHeight = 350, watermark = true } = Astro.props;

// build the file paths
let localUrl = `${settings.image.directory.local}${file}`;

// get the image dimensions
const dimensions = sizeOf(localUrl);

// set the image ratio
let ratio = dimensions.width * rowHeight / dimensions.height;
let padding = dimensions.height / dimensions.width * 100;
---

<style lang="scss">
    div { 
        margin: 2px;
        position: relative;

        i {
            display: block;
        }
        :global(img) {
            position: absolute;
            top: 0;
            width: 100%;
            vertical-align: bottom;

            box-shadow: var(--site-shadow);
        }
    }
</style>

<div style={`width:${ratio}px; flex-grow:${ratio}`}>
    <i style={`padding-bottom:${padding}%`}></i>

    <slot />
</div>

