---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Flex from "@/components/Flex"
import Content from "@/components/Content"
import Container from "@/components/Container"
import Image from "@/components/image/Image"
import Sidebar from "@/components/Sidebar"
import Tags from "@/components/Tags"
import TOC from "@/components/TableOfContents"

// functions
import { fullDate } from "@/functions/DateTime"

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />

    <style lang="scss">        
        :global(.intro) {
            grid-template-columns: 1fr !important;
            text-align: center;
        }
        
        p.description {
            font-size: var(--text-3xl);
            font-weight: 300;
            line-height: var(--space-lg);
            color: var(--color-grayscale-90);
            padding-left: var(--space-sm);
            border-left: 5px solid var(--color-pink);
            margin-bottom: var(--section-spacing-md);
        }
        .hero {
            margin-bottom: var(--section-spacing-md);
        }

        .meta {
            p {
                font-size: var(--text-md);
                margin: 0;
            }
        }

        .tags {
            p, :global(ul) {
                display: inline;
            }
        }

        .reactive {
            ul {
                margin: 0;
                
                li {
                    list-style: none;
                    list-style-type: none;
                }
            }
        }

        :global(.gallery + h2) {
            margin-top: var(--space-lg);
        }

        :global(.lightbox) {
            /* Default to hidden */
            display: none;

            /* Overlay entire screen */
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            
            /* A bit of padding around image */
            padding: 1em;

            /* Translucent background */
            background: rgba(0, 0, 0, 0.8);

            &:target {
                display: block;
            }

            span {
                /* Full width and height */
                display: block;
                width: 100%;
                height: 100%;

                /* Size and position background image */
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Container width="sm">
            <Heading>
                <h1 slot="heading">{content.title}</h1>
            </Heading>
        </Container>

        { content.hero ? 
            <Container width="lg">
                <figure class="hero">
                    <Image file={content.hero} />
                </figure>
            </Container>
        : `` }

        <Container>
            <Flex>
                <Content>
                    <p class="description">{content.description}</p>

                    <slot />
                </Content>

                <Sidebar>
                    <div class="meta">
                        <h4>Post Meta</h4>
                        <p>Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>
                        <p>Filed under <span style="text-transform: capitalize"><a href={`/blog/categories/${content.category}`} title={`Posts categorized under ${content.category}`}>{content.category}</a></span></p>
                        
                        <div class="tags">
                            <p>Tagged in</p>
                            <Tags tags={content.tags} base="blog" />
                        </div>
                    </div>

                    { content.astro.headers.length ?
                    <div class="toc">
                            <h4>Contents</h4>
                            <TOC headers={content.astro.headers} />
                        </div>
                        : ``}
                </Sidebar>
            </Flex>
        </Container>
    </BaseLayout>
</body>
</html>