---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import BaseLayout from '@/components/BaseLayout'
import Heading from '@/components/Heading'
import Flex from '@/components/Flex'
import Content from '@/components/Content'
import Sidebar from '@/components/Sidebar'
import Tags from '@/components/Tags'

// functions
import { fullDate } from '@/functions/DateTime'

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />
</head>

<body>
    <BaseLayout>
        <Heading>
            <h1>{content.title}</h1>
            <p class="description">{content.excerpt}</p>
        </Heading>

        <Flex>
            <Content>
                <slot />
            </Content>

            <Sidebar>
                <div class="meta">
                    <h4>Post Meta</h4>
                    
                    <p>Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>
                    <p>Filed under <span style="text-transform: capitalize"><a href="/articles/categories/${content.category}" title="Posts categorized under '${content.category}'">{content.category}</a></span></p>

                    <div>
                        <h5>Tags</h5>
                        <Tags tags={content.tags} base="articles" />
                    </div>
                </div>
            </Sidebar>
        </Flex>
    </BaseLayout>
</body>
</html>