---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Content from "@/components/Content"
import Container from "@/components/Container"
import Image from "@/components/image/Image"
import Caption from "@/components/Image/Caption"
import Tags from "@/components/Tags"
import TOC from "@/components/TableOfContents"

// functions
import { fullDate } from "@/functions/DateTime"

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">{content.title}</h1>
<<<<<<< HEAD
                <p slot="description">{content.description}</p>
=======
                <p>{content.description}</p>
>>>>>>> 23c2578616203bf223bfbaab94c1069b44696bd0
            </Heading>
        </Container>

        { content.hero ? 
            <Container>
<<<<<<< HEAD
                <figure class="hero">
                    <Image file={content.hero} />
=======
                <figure>
                    <picture>
                        <Image file={content.hero} />
                    </picture>
                    
                    <Caption file={content.hero} />
>>>>>>> 23c2578616203bf223bfbaab94c1069b44696bd0
                </figure>
            </Container>
        : `` }

        <Container>
            <div class="flex flex-col md:flex-row gap-12">
                <Content>
<<<<<<< HEAD
                    <div class="prose lg:prose-xl max-w-none">
=======
                    <div class="prose prose-lg">
>>>>>>> 23c2578616203bf223bfbaab94c1069b44696bd0
                        <slot />
                    </div>
                </Content>

                <div class="h-screen space-y-8 sticky top-12">
                    <div class="space-y-4">
                        <h4>Meta</h4>
                        <p class="font-light">Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>

                        <div class="font-light">
                            Tagged in <Tags tags={content.tags} base="blog" />
                        </div>
                    </div>

                    { content.astro.headers.length ?
                    <div class="space-y-4">
                        <h4>Contents</h4>
                        <TOC headers={content.astro.headers} />
                    </div>
                    : ``}
                </div>
            </div>
        </Container>
    </BaseLayout>
</body>
</html>