---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'
import Sidebar from '@/components/Sidebar'
import Tags from '@/components/Tags'

// functions
import { fullDate } from '@/functions/DateTime'

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />

    <style lang="scss">
        .intro {
            display: flex;
            flex-direction: column;
            gap: var(--space-lg);

            h1, .description { margin: 0; }
        }

        .meta {
            p {
                font-size: var(--text-md);
                margin: 0;
            }
        }
        
        :global(img) {
            margin-bottom: var(--space-sm);
        }
        :global(figure) {
            margin: var(--space-xl) 0;
        }
    </style>
</head>

<body>
    <main class="post">
        <header class="container">
            <Navigation />

            <div class="constraint-md intro">
                <h1>{content.title}</h1>
                <p class="description">{content.excerpt}</p>
            </div>
        </header>

        <section class="container content">
            <div class="constraint-md">
                <slot />
            </div>

            <Sidebar>
                <div class="meta">
                    <h4>Post Meta</h4>
                    
                    <p>Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>
                    <p>Filed under <span style="text-transform: capitalize"><a href="/articles/categories/${content.category}" title="Posts categorized under '${content.category}'">{content.category}</a></span></p>

                    <div>
                        <h5>Tags</h5>
                        <Tags tags={content.tags} base="articles" />
                    </div>
                </div>
            </Sidebar>
        </section>

        <Footer />
    </main>
</body>
</html>