---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import BaseLayout from '@/components/BaseLayout'
import Heading from '@/components/Heading'
import Flex from '@/components/Flex'
import Content from '@/components/Content'
import Sidebar from '@/components/Sidebar'
import Tags from '@/components/Tags'
import RelatedPost from '@/components/RelatedPost'

// functions
import { fullDate } from '@/functions/DateTime'

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />

    <style lang="scss">
        .meta {
            p {
                font-size: var(--text-md);
                margin: 0;
            }
        }
        
        :global(img) {
            margin-bottom: var(--space-sm);
        }
        :global(figure) {
            margin: var(--space-xl) 0;
        }

        .tags {
            p, :global(ul) {
                display: inline;
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Heading>
            <h1>{content.title}</h1>
            <p class="description">{content.excerpt}</p>
        </Heading>

        <Flex>
            <Content>
                <slot />
            </Content>

            <Sidebar>
                <div class="meta">
                    <h4>Post Meta</h4>
                    <p>Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>
                    <p>Filed under <span style="text-transform: capitalize"><a href="/blog/categories/${content.category}" title="Posts categorized under '${content.category}'">{content.category}</a></span></p>
                    
                    <div class="tags">
                        <p>Tagged in</p>
                        <Tags tags={content.tags} base="blog" />
                    </div>
                </div>

                {content.related ? 
                    <div>
                        <h4>Related Posts</h4>
                        <RelatedPost posts={content.related} />
                    </div>
                 : ``}
            </Sidebar>
        </Flex>
    </BaseLayout>
</body>
</html>