---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import BaseLayout from '@/components/BaseLayout'
import Heading from '@/components/Heading'
import Flex from '@/components/Flex'
import Content from '@/components/Content'
import Sidebar from '@/components/Sidebar'
import Tags from '@/components/Tags'
import RelatedPosts from '@/components/RelatedPosts'

// functions
import { fullDate } from '@/functions/DateTime'

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;

const allPosts = await Astro.fetchContent("../pages/**/*.md"); // get all posts
let testVar = content.related.map(featured => {
    //return allPosts.filter(post => post.url.includes(featured));
    return 1+1;
});
console.log(testVar);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />

    <style lang="scss">
        .meta {
            p {
                font-size: var(--text-md);
                margin: 0;
            }
        }
        
        :global(img) {
            margin-bottom: var(--space-sm);
        }
        :global(figure) {
            margin: var(--space-xl) 0;
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Heading>
            <h1>{content.title}</h1>
            <p class="description">{content.excerpt}</p>
        </Heading>

        <Flex>
            <Content>
                <slot />
            </Content>

            <Sidebar>
                <div class="meta">
                    <h4>Post Meta</h4>
                    
                    <p>Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>
                    <p>Filed under <span style="text-transform: capitalize"><a href="/blog/categories/${content.category}" title="Posts categorized under '${content.category}'">{content.category}</a></span></p>

                    <div>
                        <h5>Tags</h5>
                        <Tags tags={content.tags} base="blog" />
                    </div>

                    
                </div>

                <!--<RelatedPosts posts={content.related} />-->
            </Sidebar>
        </Flex>
    </BaseLayout>
</body>
</html>