---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'

// functions
import { timeAgo } from '@/functions/DateTime'

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />

    <style lang="scss">
        .intro {
            display: flex;
            flex-direction: column;
            gap: var(--space-lg);

            .meta {
                display: flex;
                flex-direction: row;
                gap: var(--space-sm);
                
                .category {
                    text-transform: capitalize;
                }
            }
        
            h1, .description { margin: 0; }
            .description {
                font-size: var(--text-2xl);
                color: var(--color-grayscale-40);
                line-height: var(--line-height-md);
                font-weight: 300;
            }
        }
        
        :global(img) {
            margin-bottom: var(--space-sm);
        }
        :global(figure) {
            margin: var(--space-xl) 0;
        }
    </style>
</head>

<body>
    <main class="post">
        <header class="container">
            <Header />

            <div class="constraint-lg intro">
                <div class="meta">
                    <time datetime={content.date}>{timeAgo(content.date)}</time>
                    <div class="category">{content.category}</div>
                </div>

                <h1>{content.title}</h1>
                <p class="description">{content.description}</p>
            </div>
        </header>

        <section class="container">
            <div class="constraint-lg">
                <slot />
            </div>
        </section>

        <Footer />
    </main>
</body>
</html>