---
// modules
import { SEO } from "astro-seo";
import { Picture, BackgroundPicture } from "astro-imagetools/components";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Container from "@/components/Container"
import TOC from "@/components/TableOfContents"

// functions
import { fullDate } from "@/functions/DateTime"

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title={content.title}
        description={content.description}
    />
</head>

<body>
    <BaseLayout classes="space-y-0">
        <BackgroundPicture src={content.hero}>
            <div class="bg-white bg-opacity-90 -z-10">
                <Container classes="py-48">
                    <Heading>
                        <h1 slot="heading">{content.title}</h1>
                        <p>{content.description}</p>
                    </Heading>
                </Container>
            </div>
        </BackgroundPicture>

        <Container classes="relative py-8 lg:py-16 !-mt-20 bg-white z-10 shadow-2xl">
            <div class="flex flex-col md:flex-row gap-12">
                <div class="prose prose-lg prose-code:before:content-none prose-code:after:content-none">
                    <slot />
                </div>

                <div class="h-auto md:h-screen space-y-8 sticky top-12">
                    <div class="space-y-4">
                        <h4>Meta</h4>
                        <p class="font-light">Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>
                    </div>

                    { content.astro.headers.length ?
                    <div class="space-y-4">
                        <h4>Contents</h4>
                        <TOC headers={content.astro.headers} />
                    </div>
                    : ``}
                </div>
            </div>
        </Container>
    </BaseLayout>
</body>
</html>